/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;

}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* naviagtion bar:logo and image */
#logo{
    margin: 10px 34px;
}
#logo img{
height: 66px;
margin: 34px 45px;
border-radius: 50%;
}

/* naviagtion bar: List styling */
ul{
    display: flex;
}
